@CHARSET "UTF-8";

input[type=text] {
	width: 350px;
	height: 20px;
	text-align: left;
	color: #4F81BD;
	background-color: #f0f0f0;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}

.hr_top {
	border: 1px solid #3c679d;
}

.pTag1 {
	text-align: center;
	color: #3c679d;
	font-size: 15px;
	font-weight: bold;
}

.pTag2 {
	text-align: center;
	color: #3c679d;
	font-size: 15px;
	font-weight: bold;
}

.select1 {
	width: 250px;
	height: 25px;
	border-radius: 5px;
	color: #4F81BD;
	font-size: 15px;
	font-weight: bold;
}

.select2 {
	width: 470px;
	height: 25px;
	border-radius: 5px;
	color: #4F81BD;
	font-size: 15px;
	font-weight: bold;
}

.submit {
	background-color: #4F81BD;
	border: 1px solid #3c679d;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 20px;
}

.table {
	width: 600px;
	margin: auto;
}

.table th {
	width: 600px;
	height: 20px;
	color: #ffffff;
	text-align: left;
	background-color: #4F81BD;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.table td {
	width: 250px;
	height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #4F81BD;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.bottom {
	width: 600px;
	font-size: 15px;
	color: red;
	letter-spacing: 1.9px;
	line-height: 1.5em;
}

.table1 {
	width: 600px;
	margin: auto;
}

.table1 th {
	width: 400px;
	height: 20px;
	color: #ffffff;
	text-align: left;
	background-color: #4F81BD;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.table1 td {
	width: 200px;
	height: 20px;
	color: #ffffff;
	text-align: right;
	background-color: #ffffff;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.table024 {
	width: 650px;
	margin: auto;
}

.table024 th {
	width: 400px;
	height: 20px;
	color: #8cadd5;
	text-align: left;
	text-decoration: underline;
	font-size: 15px;
	border-radius: 5px;
	font-size: 15px;
	text-align: left;
}

.table024 td {
	width: 250px;
	height: 20px;
	color: #ffffff;
	text-align: right;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.button {
	background-color: #4F81BD;
	border: 1px solid #3c679d;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 20px;
	align: right;
}