@CHARSET "UTF-8";

.content{
	width:100%;
	text-align: center;
}

div.UIdesign1#graph{
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    display: block;
	width: 40%;
}

div.UIdesign1 span{
	font-family: Meiryo;
	font-size: 120%;
	color: #0c4070;
}

div#adminMessage.UIdesign1{
	width:70%;
	margin:0 auto;
	text-align: left;
}

select.UIdesign1 {
	width: 150px;
	border: 1px solid #d2d2d2;
 	border-radius: 3px;
 	margin: 0 50px;
}

input[type="text"].UIdesign1 {
	width: 150px;
	border: 1px solid #d2d2d2;
 	border-radius: 3px;
 	margin: 0 50px;
}


input[type="button"].UIdesign1#compare{
	background-color: #4F81BD;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0), 0 1px 3px 0
		rgba(0, 0, 0, 1);
	width: 70px;
	height: auto;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-family: Meiryo;
	font-size: 120%;
	margin-left:  10%;
	margin-right:  10%;
}

input[type="button"].UIdesign1#downloadBtn{
	background-color: #4F81BD;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0), 0 1px 3px 0
		rgba(0, 0, 0, 1);
	width: 150px;
	height: auto;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-family: Meiryo;
	font-size: 120%;
	margin-left:  10%;
	margin-right:  10%;
}

div.UIdesign1 table#useList{
	margin:auto;
	width:70%;
}

div.UIdesign1 table#useList th{
	margin:0 auto;
	text-align: center;
	background-color: #4F81BD;
	width:9%;
	padding: 4px;
	color: white;
	border-radius: 6px;
	border-color: #000000;
	font-family: Meiryo;
}

div.UIdesign1 table#useList td{
	background-color: white;
	width:9%;
	padding: 4px;
	color: #0c4070;
	border-style:solid;
	border-radius: 6px;
	border-color: #4F81BD;
	border-width: 1px;
	font-family: Meiryo;
}

div.UIdesign1#download{
	margin-top: 20px;
}
