@CHARSET "UTF-8";
button{
	cursor: pointer;	
}

.content{
	width: 990px;
	min-height: 500px;
	margin: 0 auto;
	background-color: #fff;
	display: block;
}

.date-box{
	padding-top: 20px;
}

.date-box select{
	margin-left: 20px;
}

.content .title{
	display: block;
	width: 160px;
	height: 32px;
	margin: 0 auto;
	text-align: center;
	border-bottom: 1px solid #000;
}
.content .cost-box{
	display: block;
	width: 70%;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 20px;
}

.content .use-box{
	display: block;
	width: 60%;
	margin-top: 10px;
}

.content .info1{
	display: block;
	width: 100%;
	margin-top: 10px;
}
.content table{
	width: 100%; 
    border-spacing: 0;
    border-collapse: collapse;
}
.content table td div{
	padding: 6px 0;
	font-size: 12px;
	border-radius: 5px;
}
.content table td .value-blue{
	background-color: rgb(91,127,189);
	border: 1px solid rgb(91,127,189);
	text-align: center;
	color: #fff;
}

.content table td .value-blue-title{
	background-color: rgb(91,127,189);
	border: 1px solid rgb(91,127,189);
	text-align: left;
	color: #fff;
	text-indent: 10px;	
}

.content table td .value-white{
	border: 1px solid rgb(91,127,189);
	text-align: right;
}
.content table td .value-white.align-c{
	text-align: center;
	size: 20px;
	font-weight: bold;
}

.content table td .value-glay{
	background-color: rgb(211,211,211);
	border: 1px solid rgb(91,127,189);
	text-align: center;
}

.content table td .value-light-glay{
	background-color: rgb(233,233,233);
	border: 1px solid rgb(91,127,189);
	height: 20px;
}

.content .btn-gp-box{
	text-align: center;
	display: block;
	padding: 20px 0 30px 0;
}

.content .btn-gp-box .btn{	
	background-color: rgb(91,127,189);
	border-radius: 5px;
	border:none;
	color: #fff;
	padding: 2px 10px;
	font-size: 20px;	
}

