@CHARSET "UTF-8";
.download {

}

.download .submenubar {
	text-align: center;
	font-size: 20px;
}

.download .download_form {
	text-align: center;
	font-size: 17px;
		
}
.download .download_form select {
	width: 300px;
	height: 25px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 17px;
}
.download .download_form input[type=submit] {
	background-color: #4F81BD;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	width: 80px;
	height: 22px;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-size: 18px;
}
.download_table{
	text-align:center;
}

.download_table table {
	
	margin:auto;
	width: 800px;
}

.download_table table th {
	background-color: #4F81BD;
	padding: 4px;
	color: white;
	border-radius: 6px;
	border-color: #000000;
	font-size: 16px;
}

.download_table table td {
	width: 300px;
	height: 22px;
	padding: 10px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 16px;
	border:1px solid white;
	border-color : #4F81BD;
}

.download_table .download_button  {
	background-color: #4F81BD;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	width: 100px;
	height: 22px;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-size: 12px;
}
