@CHARSET "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);

dl, ul, ol, menu, li {
	list-style: none;
}

body {
	font-family: 'Noto Sans Japanese', sans-serif;
	margin: 0px;
}

.menu_title {
	height: 30px; 
	color: white; 
	padding: 12px; 
	font-size:150%;
	text-align: center; 
	background-color: #173767;
}

.comm_tab1 {
	display: block;
	clear: both;
	*zoom: 1;
	
}

.comm_tab1:after {
	display: block;
	height: 0;
	content: ".";
	font-size: 0;
	visibility: hidden;
	clear: both;
}

.comm_tab1>.tab_menu {
	float: left;
}

.comm_tab1>.tab_menu>li {
	float: left;
	margin-right: 7px;
	text-align: center;
	font-size: 16px;
}

.comm_tab1>.tab_menu .tit {
	display: block;
	padding: 5px;
	color: #4F81BD;
	background-color: #EAEAEA;
	cursor: pointer;
	text-decoration: none;
}

.comm_tab1>.tab_menu .on {
	position: relative;
}

.comm_tab1>.tab_menu .on .tit {
	background-color: #173767;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

.comm_tab1>.tab_cont {
	float: left;
	width: 100%;
	clear: both;
	margin-top: -7px;
	border: 1.5px solid #89ABD3;
}

.comm_tab2 {
	display: block;
	clear: both;
	*zoom: 1;
}

.comm_tab2:after {
	display: block;
	height: 0;
	content: ".";
	font-size: 0;
	visibility: hidden;
	clear: both;
}

.comm_tab2>.tab_menu {
	float: left;
}

.comm_tab2>.tab_menu>li {
	float: left;
	margin-right: 7px;
	text-align: center;
	font-size: 16px;
}

.comm_tab2>.tab_menu .tit {
	padding: 5px;
	color: #4F81BD;
	background-color: #EAEAEA;
	cursor: pointer;
	text-decoration: none;
}

.comm_tab2>.tab_menu .on {
	position: relative;
}

.comm_tab2>.tab_menu .on .tit {
	background-color: #173767;
	color: #fff;
	padding: 5px;
	text-decoration: none;
}

.comm_tab2>.tab_cont {
	float: left;
	width: 100%;
	clear: both;
	border: 1.5px solid #89ABD3;
}