@CHARSET "UTF-8";

.modify {
	
}

.modify .search form {
	text-align: center;
	font-size: 12px;
}

.modify .search form input[type=text] {
	width: 300px;
	height: 24px;
	margin-right: 2em;
	margin-left: 2em;
	box-sizing: border-box;
	border-radius: 3px;
	font-size: 12px;
}

.modify .search form input[type=submit] {
	background-color: #4F81BD;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	width: 50px;
	height: 22px;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-size: 12px;
}

.modify .input input[type=button] {
	background-color: #4F81BD;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	width: 100px;
	height: 22px;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-size: 12px;
}

.modify .result {
	text-align: center;
}

.modify .result table {
	margin: auto;
}

.modify .result table th {
	background-color: #4F81BD;
	padding: 4px;
	color: white;
	border-radius: 6px;
	border-color: #000000;
	font-size: 12px;
}

.modify .result input[type=text] {
	width: 300px;
	height: 22px;
	padding: 10px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 12px;
	background-color: #CACACA;
}

.modify .input {
	text-align: center;
	font-size: 12px;
}

.modify .input table {
	margin: auto;
	width: 800px;
}

.modify .input table th {
	background-color: #4F81BD;
	width: 188px;
	padding: 4px;
	color: white;
	border-radius: 6px;
	border-color: #000000;
	font-size: 12px;
}

.modify .input table th#th_left {
	text-align: left;
}

.modify .input table td#td_fixed {
	width: 188px;
}

.modify .input input[type=text] {
	width: 300px;
	height: 22px;
	padding: 10px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 12px;
}

.modify .input input[type=text]#mini {
	width: 95px;
	height: 22px;
	padding: 10px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 12px;
}

.modify .input input[type=text]#read {
	width: 300px;
	height: 22px;
	padding: 10px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 12px;
	background-color: #CACACA;
}

.modify .input input[type=text]#read-mini {
	width: 95px;
	height: 22px;
	padding: 10px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 12px;
	background-color: #CACACA;
}

.modify .input select {
	width: 300px;
	height: 22px;
	margin: 0 0;
	box-sizing: border-box;
	border-radius: 6px;
	font-size: 12px;
}

.modify .input form input[type=submit] {
	background-color: #4F81BD;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0
		rgba(0, 0, 0, 0.19);
	width: 80px;
	height: 22px;
	border: none;
	color: white;
	text-decoration: none;
	cursor: pointer;
	text-align: center;
	border-radius: 2px;
	font-size: 12px;
}

.modify .input form p {
	color: red;
}

#myDIV {
	resize: none;
	overflow: auto;
}