@CHARSET "UTF-8";
table tr td, table tr th{
	height: 30px;
	border: 1px solid #5B7FBD;
	border-radius: 5px;
}

table.main-title tr td{
	border: 0px;
}

table tr td{
	text-align: right;
	background-color: #fff;
}

table tr td.blank{
	text-align: right;
	background-color: #E9E9E9;
}

table tr td.center{
	text-align: center;
}


table tr th{
	text-align: center;
	background-color: #D3D3D3;
}

table tr th.title-center{
	background-color: #5B7FBD;
	text-align: center;
	color: #fff;
}

table tr th.title{
	text-align: left;
	background-color: #5B7FBD;
	color: #fff;
}