@CHARSET "UTF-8";

#code {
	width: 110px;
	height: 20px;
	text-align: left;
	color: #4F81BD;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}


.hr_top {
	border: 1px solid #3c679d;
}

.pTag1 {
	text-align: center;
	color: #3c679d;
	font-size: 15px;
	font-weight: bold;
}

.pTag2 {
	text-align: center;
	color: #3c679d;
	font-size: 15px;
	font-weight: bold;
}

.selectLocation {
	width: 700px;
	height: 20px;
	border-radius: 5px;
	color: #4F81BD;
	font-size: 15px;
	font-weight: bold;
}

.select2 {
	width: 470px;
	height: 25px;
	border-radius: 5px;
	color: #4F81BD;
	font-size: 15px;
	font-weight: bold;
}

.submit {
	background-color: #4F81BD;
	border: 1px solid #3c679d;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 20px;
}

.getUserInfoTable {
	width: 1000px;
	margin: auto;
}

.white {
	width: 200px;
	height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #ffffff;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

#title {
	width: 200px;
	height: 20px;
	color: #ffffff;
	text-align: center;
	background-color: #4F81BD;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.getUserInfoTable td {
	width: 400px;
	height: 20px;
	color: #4F81BD;
	text-align: center;
	background-color: #ffffff;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

#outputTextField {
	width: 400px;
	height: 20px;
	text-align: left;
	color: #4F81BD;
	background-color: #f0f0f0;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}

.outputTextField2 {
	width: 800px;
	height: 20px;
	text-align: left;
	color: #4F81BD;
	background-color: #f0f0f0;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	
}

.inputTextField {
	width: 400px;
	height: 20px;
	text-align: left;
	color: #4F81BD;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}


.paymentMethod {
margin-left: 653px;
}

.textarea {
	width: 200px;
	height: 50px;
	/* color: #ffffff; */
	text-align: center;
	background-color: #4F81BD;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.inputTextarea {
	width: 800px;
	height: 50px;
	text-align: left;
	color: #4F81BD;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}

.inputTextField2 {
	width: 400px;
	height: 50px;
	text-align: left;
	color: #4F81BD;
	background-color: #ffffff;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}

.outputTextarea {
	width: 800px;
	height: 50px;
	text-align: left;
	color: #4F81BD;
	background-color: #f0f0f0;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
	
}

.button1 {
	
	background-color: #4F81BD;
	border: 1px solid #3c679d;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px; 
}

.toChangePaymentMethodTable {
	width: 1000px;
	margin: auto;
}

.toChangePaymentMethodTable th {
	width: 1000px;
	height: 20px;
	color: #ffffff;
	text-align: left;
	background-color: #4F81BD;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.toChangePaymentMethodTable td {
	width: 400px;
	height: 20px;
	color: #4F81BD;
	text-align: center;
	background-color: #ffffff;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}






.bottom {
	width: 600px;
	font-size: 15px;
	color: red;
	letter-spacing: 1.9px;
	line-height: 1.5em;
}

.table3 {
	width: 900px;
	margin: auto;
}

.table3 th {
	width: 400px;
	height: 20px;
	text-align: left;
	color: #4F81BD;
	background-color: #4F81BD;
	border-radius: 5px;
	font-size: 15px;
	font-weight: bold;
}

.table3 td {
	width: 250px;
	height: 20px;
	color: #ffffff;
	text-align: right;
	font-size: 15px;
	border-radius: 5px;
	font-weight: bold;
}

.button {
	background-color: #4F81BD;
	border: 1px solid #3c679d;
	border-radius: 3px;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 2px 20px;
	align: left;
}